Repository JamesDalboth/fitbit-squash-game-tracker, changes with the labels that .github/labeler.yaml gives for each.
All labels: documentation, github-config, pre-commit, release-config, repo-config

.github/labeler.yaml:

documentation:
- "docs/**"
- "**/*.md"
- "*.md"
github-config: .github/**
pre-commit: .pre-commit-config.yaml
release-config: .releaserc.yaml
repo-config:
- "*"
- ".*"

feat: init fitbit app
  .gitignore
  app/index.js
  package.json
  resources/index.view
  resources/styles.css
  resources/widget.defs
  tsconfig.json
Labels: repo-config

feat: basic layout of application
  .gitignore
  resources/index.view
  resources/styles.css
Labels: repo-config

feat: update package.json
  .releaserc.yaml
Labels: release-config, repo-config

feat: add increment and reset logic
  app/index.js
  resources/index.view
  resources/styles.css
  resources/widget.defs
Labels: none

feat: make app
  Screenshot.png
  icon.png
  package.json
Labels: repo-config

feat: use file system for persistent storage
  app/index.js
  resources/index.view
Labels: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, repo-config

Notes added by 'git notes add'
  f8f65924bc68c43f996ad03598f23b4c1b03f5f1
Labels: repo-config

fix: icon file
  package.json
  resources/Screenshot.png
  resources/icon.png
  resources/icon80.png
Labels: repo-config

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, repo-config

Notes added by 'git notes add'
  e00d3625739015ead6492f026f6e41c78e8f3fc3
Labels: repo-config

docs: add readme
  README.md
Labels: documentation, repo-config
